.carouselSection {
  margin: 20px 0;
  border-radius: 24px;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
}

.carouselContainer {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1428px;
  max-width: 100%;
}

