@tailwind base;
@tailwind components;
@tailwind utilities;

.idx-container {
  display: flex;
  justify-content: center;
}

.idx-section {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1428px;
  max-width: 100%;
}

.icon-arrow-right-add {
  display: flex;
  align-items: center;
}

.idx-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 10px;
  padding: 18px 26px;
  border-radius: 12px;
  border: 0;
  background-color: #e7c873;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  transition: all .3s ease;
}

ul.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

a {
  transition: all .3s ease;
}

a:focus, a:hover {
  color: #e7c873;
  outline: 0;
  transition: all .3s ease;
}

.idx-button-no-bg {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--Secondary);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  transition: all .3s ease;
  margin: auto;
}

.swiperSlide {
  width: 329px;
  margin-right: 28px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0099ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}